.form_add_proff_form {
	display: flex;
	justify-content: flex-start;
	flex-wrap: no-wrap;
	flex-direction : column;
}

.vld {
	margin-left: 15px;
}

.form_header {
	display: flex;
	justify-content: space-around;
}