.titre-exo {
	margin-top: 25px;
	margin-left: 25px;
}
.exercice-title {
  height: 100%;
  padding-left: 10px;
  padding-top: 20px;
}

.paper-description {
	margin-left: 20px;

  width: 40%;
  margin-bottom: 10px;
  padding: 2%;
}
