
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/assets/node_modules/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

assets/node_modules/

*.lock

\.idea/


###> ide ###
.idea
.idea/
###< ide ###

composer\.lock

\.docker-sync/

skyflow/

\.DS_Store

docker/
assets/node_modules/
assets/package-lock.json
assets/npm-debug.log*
assets/yarn-debug.log*
assets/yarn-error.log*
assets/public/build/*
assets/public/build
assets/package-lock.json
assets/
config/packages/lexik_jwt_authentication\.yaml
