.exercice-zone {
	width: 80%;
	padding: 30px;
	overflow: auto;
	height: calc(100vh - 150px);
}
.paper_data_in {
	margin-top: 15px;
	width: 20%;
}
.paper-enoncer-data {
	padding: 10%;
}
.no-exercice{
	height: 100%;
	width: 100%;
}