.layout-classic-appBar {
  height: 100px;
  display: flex;
  justify-content: center;

}

.layout-classic-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;

}

.layout-classic-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.layout-classic-content-wrapper {
  flex: 1 1 100%;
  box-sizing: border-box;
  flex-direction: column-reverse;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #f8ede9;
}

.layout-classic-content {
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  overflow-y: auto;

}
.layout-classic-main-yaya {
  position: relative;
}

