<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    {% block body %}

    <div id="app-container"></div>

    {% endblock %}




            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('dist/App.js') }}"></script>
            {% endblock %}
    </body>
</html>
