.contacts-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.text_no_class{
    color: #3d3d3d;
    font-size: small;
}
.text_no_class a{
    color: #0854a9;
    cursor: pointer;
}
.grid_no_class{
  height: 100%;
  width: 100%;
}

.grid_no_class_img{
  height: 100px;
  width: 100px;
  align-self: center;
}