.home-eleve-main {
	width: 100%;
	height: calc(100vh - 110px);
	background-image: url("/assets/images/light-explosion.jpg");
	background-size: 100% 40%;
	background-repeat: no-repeat;
	padding-top: 150px;
}


.home-eleve-paper{
	min-width: 70%;
    overflow: auto;
	padding: 30px;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}

.home-eleve-paper::-webkit-scrollbar { width: 0 !important }
.home-eleve-paper img{
    height: 100px;
    float: right;
}
