.home-eleve-main {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.home-eleve-paper-profil {
	margin-top: 30px;
	padding: 17px;
}

.paper-profil-main {
	margin-top: 30px;
	padding: 17px;
	width: 80%;
	height: 70%;
}