.account-proff-paper-profil {
	width: 80%;
	padding: 10%;
}
.header{
	width: 100%;
    height: 500px;
    background-color: white;
    background-image: url(/assets/teacher_bg.jpg);
    background-size: 100% 100%;
}
.info{
	color: #0014ff;
}