.mes-formations {
	//margin-top: 25px;
	margin-left: 10px;
	text-align: center;
}

.class-list {
width: 15%;

background-color: #efefef;

border: 1px solid rgba(40, 120, 179, 0.92) !important;

height: 100%;
}

.main-class-list {
	height: 90%;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 15px;

}