.mes-formations {
	//margin-top: 25px;
	margin-left: 10px;
	text-align: center;
	font-family: 'Roboto';
}

.class-list {
width: 17%;

background-color: #efefef;


height: 100%;
}

.main-class-list {
	height: 90%;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 15px;
	display: flex;

}