.mes-formations {
	//margin-top: 25px;
	margin-left: 10px;
	text-align: center;
font-family: "Gill Sans", sans-serif;
}

.class-list {
	width: 17%;
	background-color: #efefef;
	padding-top: 20px;
	box-shadow: 5px 5px 5px grey;
font-family: "Gill Sans", sans-serif;

}

.main-class-list {
	height: calc(100vh - 110px);
	margin-left: 5px;
	margin-bottom: 15px;
	display: flex;

}