.portal-pages__header {
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.050);
  display: flex;
  justify-content: center;
  align-item: center;
}


.portal-pages__content-inner {
  margin-top: -200px;
  padding: 60px;
  box-shadow: 0px -40px 100px -50px rgba(0, 0, 0, 0.3), -20px 0px 40px -50px rgba(0, 0, 0, 0.2), 20px 0px 40px -50px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  animation: portal-pages__content-inner .3s forwards 1 ease-in-out;
}

.portal-pages__header-icon {
  margin-top: 0;
  margin-bottom: 50px;
  animation: portal-pages__header-icon 4s infinite ease-in-out;
  font-weight: 200;
  font-size: 64px;
  height: 33%;
  width: 24%;
}

.portal-pages__color_option {
  height: 60px;
  padding-right: 16px;
}

.portal-pages__color_examples {
  margin: 60px 0px;
}

@keyframes portal-pages__header-icon {
  0%, 100% {
      stroke: #03A9F4;
      color: #03A9F4;
  }
  75% {
      stroke: #FF4081;
      color: #FF4081;
  }
}

@keyframes portal-pages__content-inner {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.portal-pages__container {
 

    display: flex;
    width: 65%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.landing-description {
  
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}


.landing-description-titre{
  font-size: 2rem;
  margin-bottom: 45px;
}

.landing-description-p{
  margin-bottom: 15px;
}


.panel {
  animation: portal-login 1s forwards 1;
  animation-delay: 0.6s;
  transform: translateY(20px);
  opacity: 0;
}

.card {
  margin-top: 30%;
  //height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.photo {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.login-actions {
  justify-content: space-between;
}

.signup-content {
  text-align: center;
}

.signup-logo {
  height: 64px;
}

@keyframes portal-login {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


.photo1{ background-image: url("/assets/images/logo/react.svg");}
.photo2{ 
  background-image: url("/assets/images/logo/redux.png");
  background-size: 100% auto;
}
.photo3{ background-image: url("/assets/images/logo/apiplateform.png");}
.photo4{ background-image: url("/assets/images/logo/docker.png");}
.photo5{ background-image: url("/assets/images/logo/symfony.svg");}
.photo6{ background-image: url("/assets/images/logo/travis.jpeg");}
.photo7{ background-image: url("/assets/images/logo/prisme.png");}
.photo8{ background-image: url("../../assets/images/behat.png");}
.photo9{ background-image: url("../../assets/images/selenium.png");}