.un-cour {
	margin-top: 30px;
	border: 1px solid white;
	width: 87%;
	background-color: white;
	padding: 8px;
	margin-left: 4px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 4px;
}

.un-cour:hover {
	background-color: rgba(40, 120, 179, 0.92) !important;
	cursor: pointer;
}
.liste-exercice {
	width: 100%;
	flex-direction: column;
	align-items: center;
	max-height: 76vh;
	overflow-x: hidden;
	overflow-y: auto; 
}

.un-cour-valider {
	@extend .un-cour;
	background-color: #29cf29;
	cursor: not-allowed !important;
}
.date-tentatives{
	padding-top: 5px;
}