.un-cour {
	margin-top: 30px;
	border: 1px solid white;
	height: 130px;
	width: 90%;
	background-color: white;
	padding: 8px;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}

.un-cour:hover {
	background-color: rgba(40, 120, 179, 0.92) !important;
	cursor: pointer;
}
.liste-exercice {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 76vh;
	overflow-x: hidden;
	overflow-y: scroll; 
}

.un-cour-valider {
	@extend .un-cour;
	background-color: #29cf29;
	cursor: not-allowed !important;
}